body {
  background-color: #857f7fab;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#body {
  margin: 0 auto;
  position: relative;
}

#header {
  font-size: 40px;
  font-weight: bold;
  top: 20px;
  text-align: center;
}

.legend {
  position: absolute;
  top: 0px;
  right: 0;
  width: 330px;
  font-size: 11px;
  color: rgb(0, 0, 0);
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: rgba(131, 161, 190, 0.781);
  stroke: rgb(37, 36, 36);
  stroke-width: 2px;
}

.node text {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  fill: rgb(0, 0, 0);
  text-orientation: upright;
  text-overflow: ellipsis;
}

path.link {
  fill: none;
  stroke: rgb(129, 36, 36);
  stroke-width: 3px;
  stroke-linecap: square;
}